@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		var globalPageContext = TheGlobalPageContext as GlobalPageContext;
		globalPageContext!.HeadingText = "Reactive Home Page";
	}
}
